/*
*	Registration form full body css.
*	Created by: Alexander Vladimirov
*	Github: https://github.com/AlexanderVladimirov9090
*
*
* 	This style sheet is for full registration form document.
* 	Still wotking on shorter code. 
*/



/*
	Apply background color and font family.
*/

body, h2, label, input.form-control,i{
	background-color : #435470;
	color : #f7c485;
	font-weight : bold;
	font-family : "Arial Black", Gadget, sans-serif;
}

/*
	Little adjustment of margin and apply background transperancy to the lables.
*/

label{
	margin-left:35px;
	background: transparent;
}

/*
	Minor resizing the width of the form.
*/

form{
	width:280px;
}

/*
	Sets up margin to auto for few elements.
*/

div.row, h2, form{
	margin: auto;
}

/*
	Rounds the edges of the background and sets opacity.
*/

div.row, h2{
	background-color:  rgba(000, 000, 000, 0.1);
	padding: 10px;
	border-radius: 25px;

}

/*
	Resizing width of the headline.
*/

h2{
	width:45%;
}

/*
	Apply background color size and transperancy to span.
*/

span.input-group-addon{
	background-color :	#435470;
	width : 150;
	border : 0;
	font-family : inherit;
	font-size : 1em;
	cursor : pointer;
	background: transparent;
}


/*
	Centers text of headline and paragraph(message that is displayed to the user.).
*/

h2,p{
	display: flex;
	align-items: center;
	justify-content: center
}

/*
	Change color of the message.
*/
p{
	color: #ffa88c;
}

/*
	Modify width of age input box. 
*/

#age{
	width:60px;
}

/*
	Modify widht of EGN input box.
*/
#EGN{
	width:120px;
}

/*
	Moves down all elements 10 pixels.
*/

div.main	{
	margin-top:10px;
}

/*
 All from here is apply to the submist button.
*/

.btn {
	padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
	background:  #009959;
	color: #f7c485;
	font-family: "Arial Black", Gadget, sans-serif;
}
 
.btn-primary {
    background: #32425d;
    color: #f7c485;
	font-family: "Arial Black", Gadget, sans-serif;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #2c87a5;
	color: #f7c485;
	font-family: "Arial Black", Gadget, sans-serif;
}
 
.btn-primary:active, .btn-primary.active {
    background: #009959;
	color: #f7c485;
    box-shadow: none;
		font-family: "Arial Black", Gadget, sans-serif;
}